<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Store Management System</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="out-box">
        <div class="container">
            <h1><div class="main-box">Medical Store Management System</div></h1>
        </div>    
        <div class="button-box">
            <a href="add_medication.html" class="button">Add Medication</a>
            <a href="add_supplier.html" class="button">Add Supplier</a>
            <a href="update_inventory.html" class="button">Update Inventory</a>
            <a href="check_stock.html" class="button">Check Stock Levels</a>
            <a href="generate_alerts.html" class="button">Generate Alerts</a>
            <a href="record_sale.html" class="button">Record Sale</a>
            <a href="place_order.html" class="button">Place Order</a>
        </div>
    </div>
</body>
</html>
